
*{
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

a:visited{
    color: white;
}

a:active{
    color: white;
}

li{
    font-family: 'Barlow', sans-serif;
}

.nav-barre-p2{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    letter-spacing: 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.nav-barre-p3{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    letter-spacing: 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.boutons{
    display: flex;
}

h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
    font-weight: lighter;
}

.bt{
    padding-right: 20px;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 600%;
    font-weight: lighter;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 3%;
}

.arriereplan-p2{
    background: url(images-ag/bc-godot.png) center/cover no-repeat;
    height: 105vh;
    width: auto;
}

.arriereplan-p3{
    background: url(images-ag/bc-saisons.png) center/cover no-repeat;
    height: 105vh;
    width: auto;
}

.description-fr{
    font-family: 'Barlow', sans-serif;
    font-size: 180%;
    font-weight: 200%;
    padding-left: 25%;
    padding-right: 10%;
    padding-bottom: 5%;
    text-align: left;
}

.description-en{
    font-family: 'Barlow', sans-serif;
    font-size: 180%;
    font-weight: 200%;
    padding-left: 25%;
    padding-right: 10%;
    padding-bottom: 5%;
    text-align: right;
}

/* --------PROPRIÉTÉ DES IMAGES C'EST BON NE PAS TOUCHER--------- */

/* img{
    width: 100%;
    height: auto;
} */

/* --------PROPRIÉTÉ DES IMAGES C'EST BON NE PAS TOUCHER--------- */



/* ---------ATTENTION C'EST TIPAR POUR LE SCROLLING X-------- */


.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}


.bloc-horizontal-saison {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-90vh);
    transform-origin: top left;
}
.container-img-saison {
    margin: 0;
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh); 
    transform-origin: top left;
    overflow-x: hidden;

    /* pour ie et mozilla */
    -ms-overlow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}

/* --------- END ATTENTION C'EST TIPAR POUR LE SCROLLING X-------- */
.ancre{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

footer{
    font-family: 'Barlow', sans-serif;
    font-size: 100%;
    font-weight: 200%;
    display: flex;
    justify-content: space-around; 
    margin-bottom: 5vh;
}

@media (max-width:600px){
    .nav-barre-p2{
        display: none;
    }

    .nav-barre-p3{
        display: none;
    }

    .informations{
        font-size: 80%;
    }

    footer{
        font-size: 40%;
    }

    h2{
        font-size: 250%;
    }
/* ---------BURGER-------- */

}
