
*{
    box-sizing: border-box;
    outline: none; 
    text-decoration: none;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

/* BURGER START  */

#menuToggle{
    display: block;
    position: fixed;
    top: 10px;
    left: 10px; 
    z-index: 1; 
    -webkit-user-select: none;
    user-select: none;
 }
  
#menuToggle a{
    text-decoration: none;
    color: #232323;
    font-family: 'Bebas Neue', cursive;
    transition: color 0.3s ease;
 }
  
#menuToggle a:hover{
    color: grey;
 }
  
#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px; 
    cursor: pointer;
    opacity: 0; 
    z-index: 2;
    -webkit-touch-callout: none;
 }
  
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: lightgrey;
    opacity: 0;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px; 
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
 }
  
#menuToggle span:first-child{
    transform-origin: 0% 0%;
 }
  
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
 }
 
#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
 }
  
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
 }
  
 #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
 }
  
#menu{
    position: absolute;
    width: 230px;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 100px; 
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
  
#menu li{
    padding: 10px 0;
    font-size: 22px;
 }
 
#menuToggle input:checked ~ ul{
     transform: none;
 }
 
/* BURGER END */


a:visited{
    color: white;
}

a:active{
    color: white;
}

li{
    font-family: 'Bebas Neue', cursive;
}

.nav-barre-p2{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    letter-spacing: 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.nav-barre-p3{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    letter-spacing: 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.ancre{
    position: sticky;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    top: 10px;
    margin: 10px;
}

.boutons{
    display: flex;
}

h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
    font-weight: lighter;
}

.bt{
    padding-right: 20px;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 600%;
    font-weight: lighter;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 3%;
}

.arriereplan-p2{
    background: url(images-ag/bc-godot.png) center/cover no-repeat;
    height: 100vh;
    width: auto;
}

.arriereplan-p3{
    background: url(images-ag/bc-saisons.png) center/cover no-repeat;
    height: 100vh;
    width: auto;
}

.description-fr{
    font-family: 'Barlow', sans-serif;
    font-size: 180%;
    font-weight: 200%;
    padding-left: 25%;
    padding-right: 10%;
    padding-bottom: 5%;
    text-align: left;
}

.description-en{
    font-family: 'Barlow', sans-serif;
    font-size: 180%;
    font-weight: 200%;
    padding-left: 25%;
    padding-right: 10%;
    padding-bottom: 5%;
    text-align: right;
}


figcaption{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: black;
}

/* --------- /////////////START SCROLLING X PAGE 2\\\\\\\\\\\\\\\\------- */

@media (min-width:1025px){

.slide{
    width: 100vw;
    height: 100vh;
}

figure{
    position: relative;
    display: table;
    padding-bottom: 80px;
}

figcaption{
    display: table-caption;
    caption-side: bottom;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
    margin-bottom: 80px;
    text-align: left;
}

.bloc-horizontal-godot {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.container-img-godot {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh); 
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    -ms-overlow-style: none;
    scrollbar-width: none;
    padding-left: 30px;
}

::-webkit-scrollbar {
    display: none;
}

.bloc-horizontal-saison {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.container-img-saison {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh); 
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    -ms-overlow-style: none;
    scrollbar-width: none;
    padding-bottom: 100px;
}

::-webkit-scrollbar {
    display: none;
}

}

/* --------- ///////////END SCROLLING X PAGE 3\\\\\\\\\\\\-------- */

.ancre img{
    width: 27%;
}


footer{
    font-family: 'Barlow', sans-serif;
    font-size: 100%;
    font-weight: 200%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh; 
}



/* --------////////RESPONSIVE////////------- */
/* RESPONSIVE TABLETTE START */

@media (max-width:1024px) {

    .nav-barre-p2{
        display: none;
    }

    .nav-barre-p3{
        display: none;
    }

    .informations{
        font-size: 100%;
    }

    footer{
        font-size: 40%;
    }

    h2{
        font-size: 350%;
    }

    img{
        width: 100%;
        height: auto;
    }

    figcaption{
        font-size: 20px;
        padding: 20px;
    }

    .burger{
        display: block;
    }

    #menuToggle span{
        opacity: 1;
    }

}

/* RESPONSIVE TABLETTE END */

@media (max-width:600px){
    .nav-barre-p2{
        display: none;
    }

    .nav-barre-p3{
        display: none;
    }

    .informations{
        font-size: 80%;
    }

    footer{
        font-size: 40%;
    }

    h2{
        font-size: 250%;
    }

    img{
        width: 100%;
        height: auto;
    }

    figcaption{
        font-size: 10px;
        padding: 10px;
    }

    .burger{
        display: block;
    }

    #menuToggle span{
        opacity: 1;
    }

    .ancre{
        padding: 0px 0px 0px 0px;
        display: flex;
        justify-content: flex-end;
        margin: 0px;
    }


}
